@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&family=Rajdhani:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400&display=swap');

body{
    background-color: #f4f7f6;;
    padding: 10px;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

.header{
    font-size: 36;
}


.box {
    width: fit-content;
    height: fit-content;
}
p{ 
    margin-top: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 10px;
    
}

.box7 {
    grid-column: 1 / span 2;
    width: 75%;
    justify-self: center;
}

.box8 {

    justify-self: stretch;
     
}

.box10 {
    grid-column: 2 / span 2;
    width: 72%;
    justify-self: center;
}

.box17 {
    grid-column: 1 / span 2;
}

video {
    max-width: 710px;
    play
}





img {
    width: 100%;
}

