@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&family=Rajdhani:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400&display=swap');
@import url('http://fonts.cdnfonts.com/css/neue-haas-grotesk-text-pro');

body {
    background-color: #e9e9e9;
    padding: 20px;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Neue Haas Grotesk Text Pro', sans-serif;
                                                
    box-sizing: border-box;
}

p { 
    margin-top: 0;
}

a {
    color: black;
    text-decoration: none;
}

.header {
    padding-left: 10px;
    position: fixed;
    font-size: 14px;

    
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 10px;
    padding: 70px 0;
    text-align: right;
}

.box7 {
    grid-column: 1 / span 2;
    width: 74%;
    justify-self: center;
}

.box8 {

    justify-self: stretch;
     
}

.box9 {
    width: 101.5%;
}

.box10 {
    grid-column: 2 / span 2;
    width: 72%;
    justify-self: center;
}

.box21 {
    grid-column: 2 / span 2;
    width: 88%;
    justify-self: center;
}

.info {
    text-align: left;
}

img {
    width: 100%;
}

img:hover {
    cursor: pointer;  
}

video:hover {
    cursor: pointer;   
}
